services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mio-web-localization
    mem_limit: 256m
    cpus: "0.5"
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}